body {
    margin: 0;
    background-color: #b3967f;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el contenido al final */
margin: 0% 20% 20% 20%;
}

.column:hover, .contact img:hover {
    transform: scale(1.2); /* Agranda el ícono un 20% */
    filter: brightness(1.2);
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}

h2 {
justify-content: center;
    max-width: 100%;
}

header {
    padding: 2vw;
    display: flex;
    justify-content: center;
    background-color: #966c7a;
}

nav a {
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    font: 1em sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: rgba(121, 48, 90, 0.342);
}

section {
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
    text-align: center;
}

.presentation {
color: aliceblue;
} 


#aboutMe {
    background-image: url(/image.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    opacity: 0.98;
}

#contact {
    background-color: #693340;
    padding: 2%;
}

#aboutMe h2 {
    margin: 0% 30%;
    padding: 3%;
    font-size: 200%;
}


.contactInfo {
    margin-bottom: 1%;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
}

.contact img {
    max-width: 5vw; 
    max-height: 5vw; 
}

