body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
 margin: 0% 20% 20% 20%;
}

.column:hover{
    transform: scale(1.2); 
    filter: brightness(1.2);
}

@media (max-width: 600px) {
    .container, .contactInfo {
        grid-template-columns: 1fr; 
    }
}

h2 {
justify-content: center;
    max-width: 100%;
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
}

header {
    padding: 2vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(#a772829d, #733C4A);
}

nav a {
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    font-weight: bold;
}

nav a:hover {
text-shadow: 2px 2px 3px #bebcbc93;
}

section {
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 183;
      font-style: normal;
          color:whitesmoke;
    text-align: center;
}

.presentation {
color: aliceblue;
} 


#aboutMe {
    background-image: url(/image.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    opacity: 0.85;
}

.about {
    margin: 2% 20%;
    text-align: left;
    font-weight: bold;
}

.about a{
    color: #ffffff;
}

.img {
    width: 5vh;
    filter: invert(100%);
    margin: 0% 50%;
}

#aboutMe h2 {
    margin: 0% 20% 5% 20%;
    text-align: left;
    padding: 3%;
    font-size: 200%;
}

#contact {
    background: linear-gradient(#733C4A, #684c559d);
    padding: 2%;
}


.contactInfo {
    margin-bottom: 1%;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 1%;
    align-items: center;
}

.contact img {
max-width: 4vw;
    filter: invert(100%);
}

.contact img:hover {
    transform: scale(1.2); 
    filter: brightness(1.2);
    filter: invert(100%);
}


